body {
    margin: 0;
    padding:0;
}
.content{
    margin:0 auto;
    margin-top:40px;
    padding:20px;
    border: solid 2px black;
    width:50%;
    border-radius: 15px;
}
#quizz{
    text-align: center;
    font-size: 50px;
}
#title{
    font-size: 30px;
    text-align: center;
}
.answer{
    font-size: 20px;
}
#nextQues{
    text-align: center;
    padding:4px;
    height:50px;
    width: 120px;
    border-radius: 5px;
    background-color: skyblue;
    margin:auto;
    display:block;
}
body ol li{
    padding:12px 2px;
}